@inherits ListView<ItemType>
@typeparam ItemType
<ListView runat="server"
					ItemType="ItemType"
					Context="Item"
					Items="@Items">
	<ItemTemplate><tr></tr></ItemTemplate>
	<LayoutTemplate Context="itemPlaceHolder">
		<table class="table" id="gridview">
			<thead>
				@foreach (var h in HeaderRow())
				{
				<th>@h</th>
			}
				</thead>
				<tbody>
					@itemPlaceHolder
				</tbody>
			</table>
		</LayoutTemplate>
	</ListView>
	@code{
	}
